//food container style--
.food{
    padding-top:50px;
    //title style
    .title{
        font-size: 20px;
        color:#1C15DE;
        margin:10px 0px;
        text-align: center;
    }
    //description text style
    .description{
        font-size: 18px;  
        color:black;
        text-align: justify;
        .rightImage{
            display:flex;
            img{
                height:20vh;   
                width:auto;
            }
        }
        //mobile version responsive style
        @media only screen and (max-width: 768px) {
            .rightImage{
                display:block;
                img{
                    width:100%;
                    height: auto;
                }
            }
        }
    }
}
